@use 'base/mixins' as m;
@use 'base/variables' as v;

.bidhub{
  &__grid{
    @include m.container;
    @include m.grid(1, 5rem);
    @include m.tablet{
      @include m.grid(2, 5rem);
    }
    @include m.xl_desktop{
      @include m.grid(3, 5rem);
    }
  }
  &__texto{
    line-height: 2;
  }
}
.bidhubs{
  @include m.card;
  &__price-text{
    color: v.$gris-oscuro;
    margin: 1rem 0;
    font-size: 2rem;
    line-height: 1.5;
    display: inline;
  }
  &__price{
    color: v.$verde;
    margin: 1rem 0;
    font-size: 2rem;
    line-height: 1.6;
    display: inline;
  }
}
